<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="CurrentReleaseURL" value="https://s3.amazonaws.com/sidebar-diagnostics/current"/>
    <add key="LegacyReleaseURL" value="https://s3.amazonaws.com/sidebar-diagnostics/legacy"/>
    <add key="RepoURL" value="https://github.com/ArcadeRenegade/SidebarDiagnostics"/>
    <add key="WikiURL" value="https://github.com/ArcadeRenegade/SidebarDiagnostics/wiki"/>
    <add key="DonateURL" value="https://www.paypal.me/arcaderenegade"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DeltaCompressionDotNet.MsDelta" publicKeyToken="46b2138a390abf55" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.17.1.0" newVersion="0.17.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
