<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SidebarDiagnostics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  
    <userSettings>
        <SidebarDiagnostics.Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InitialSetup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DockEdge" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="ScreenIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UIScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="XOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PollingInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="UseAppBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighDPISupport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClickThrough" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTrayIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SidebarWidth" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="BGColor" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="BGOpacity" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="AlertFontColor" serializeAs="String">
                <value>#FF4136</value>
            </setting>
            <setting name="CollapseMenuBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowClock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Clock24HR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontSetting" serializeAs="Xml">
                <value>
                    <FontSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <FontSize>14</FontSize>
                    </FontSetting>
                </value>
            </setting>
            <setting name="DateSetting" serializeAs="Xml">
                <value>
                    <DateSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <Format>M</Format>
                    </DateSetting>
                </value>
            </setting>
        </SidebarDiagnostics.Properties.Settings>
    </userSettings>
</configuration>
