<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SidebarDiagnostics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  
    <userSettings>
        <SidebarDiagnostics.Properties.Settings>
            <setting name="DockEdge" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="ScreenIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BGColor" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="BGOpacity" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="PollingInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AlwaysTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Clock24HR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAppBar" serializeAs="String">
                <value>True</value>
            </setting>
        </SidebarDiagnostics.Properties.Settings>
    </userSettings>
</configuration>
