<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeltaCompressionDotNet" version="1.0.0" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="2.6" targetFramework="net461" />
  <package id="gong-wpf-dragdrop" version="0.1.4.3" targetFramework="net461" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net461" />
  <package id="OxyPlot.Core" version="1.0.0-unstable2039" targetFramework="net461" />
  <package id="OxyPlot.Wpf" version="1.0.0-unstable2039" targetFramework="net461" />
  <package id="Splat" version="1.6.2" targetFramework="net461" />
  <package id="squirrel.windows" version="1.2.4" targetFramework="net461" />
  <package id="TaskScheduler" version="2.5.15" targetFramework="net461" />
  <package id="VirtualDesktop" version="1.0.3" targetFramework="net461" />
  <package id="VirtualDesktop.WPF" version="1.0.3" targetFramework="net461" />
</packages>